body {
  background-color: black;
  color: #EEE;
  font-family: 'VT323', monospace;
  padding: 0;
}

h1 {
  height: 10vh;
  margin: 0;
  text-align: center;
}

.blocks {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.block {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.instrument-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 2rem;
}

.sound {
  width: 1vw;
  height: 1vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
}

#keys > .sound {
  background-color: #03FFC3;
}

#synths > .sound {
  background-color: #A31EE2;
}

#bass > .sound {
  background-color: #1B47E3;
}

#drums > .sound {
  background-color: #DF296A;
}

#controls {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playPause {
  height: 100%;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: #EEE;
}